/* Main menu positionning */

  
  .topnav {
	width: 113%;
	height: auto;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	position: relative;
  }
  
  .topnav #myLinks {
	display: none;
  }
  
  .topnav a {
	color: rgb(240, 111, 12);
	padding: 0px 0px 0px 0px ;
	text-decoration: none;
	font-size: 23px;
	display: block;
  }
  
  .topnav a.icon {
	background: rgb(255, 255, 255);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .topnav a:hover {
	background-color: #fff;
	color: rgba(239, 106, 11, 0.988);
  }
  
  .active {
	background-color: #ffffff;
	color: rgba(255, 255, 255, 0);
  }
